#main-wrapper {
    padding: 5rem;
}
.bug-card {
    display:flex;
    padding: 2rem;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 2rem auto;
    border: 1px solid grey;
    border-radius: 5px;

}

.bug-card li {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: .5rem;

}

.bug-card button {
    display: block;
    width: 100%;
    max-width: 15rem;
}

input, textarea, select {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    margin-bottom: 1rem;
}

button {
    border: 2px solid white;
    border-radius: 3px;
    margin: 0 1rem 1rem 0;
    padding: .5rem 1rem;
    transition: 100ms;
}

button:hover, .highlight {
    background-color: white;
    color: black;
}

.content-wrapper {
    position: relative;
    background-color: black;
    z-index: 999;
    padding: 5rem;
    
}

.input-modal {
    width: 80%;
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: black;
    opacity: 1;
    border: 1px solid white;
    animation: fade-in 200ms forwards 1;
}

.input-modal:before {
    content:'';
    position: absolute;
    z-index: 0;
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 39%, rgb(0, 0, 0) 89%);
    opacity: .8;
    height: 100vh;
    width: 100vw;
    top: -5rem;;
    left: -13%;
    overflow: hidden;
    padding: 10rem;
}

.input-modal .header {
    font-size: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.input-modal input,
.input-modal textarea {
    width: 100%;
}

@keyframes fade-in {
    from { opacity: 0;}
    to{opacity: 1}
}