html,body {
    height: 100%;
}
#main-wrapper {
    background: rgb(0,212,255);
    background-image:  url('../styles/images/bug-vector.png');
background: radial-gradient(circle, rgba(0,212,255,.5) 0%, rgba(9,9,121,.5) 25%, rgba(6,5,88,.5) 30%, rgba(0,0,0,.5) 60%);
    padding: 5rem;
    height: 100%;
}
.bug-card {
    display:flex;
    padding: 2rem;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1500px;
    flex-wrap: wrap;
    margin: 2rem auto;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: black;

}

.bug-card li {
    display: block;
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    padding-left: .5rem;

}

.bug-card button {
    display: block;
    width: 100%;
    max-width: 15rem;
}

input, textarea, select {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    display: block;
    margin-bottom: 1rem;
}

button {
    border: 2px solid white;
    border-radius: 3px;
    margin: 0 1rem 1rem 0;
    padding: .5rem 1rem;
    transition: 100ms;
    background-color: black;
}

button:hover, .highlight {
    background-color: white;
    color: black;
}

.content-wrapper {
    position: relative;
    background-color: black;
    z-index: 999;
    padding: 5rem;
    
}

.input-modal {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 999;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    margin-bottom: 2rem;
    background-color: black;
    opacity: 1;
    border: 1px solid white;
    animation: fade-in 200ms forwards 1;
    overflow-y: scroll;
}


.input-modal .header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.input-modal input,
.input-modal textarea {
    width: 100%;
    background-color:white;
    color: black;
}

.status-image {
    width: 100%;
    height: 3rem;
    flex-grow: 2;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}

.status-image img {
    height: 100%;
}

@keyframes fade-in {
    from { opacity: 0;}
    to{opacity: 1}
}